<section class="liveblog-posts">
  {{ form }}
  <h3 class="liveblog-posts--title">{{ 'Liveblog posts'|trans }}</h3>
  {% if posts %}
    {{ posts }}
  {% else %}
    <div class="liveblog-posts-container"></div>
  {% endif %}
</section>
