<article class="liveblog-post{% if highlight %} liveblog-post--highlight-{{ highlight }}{% endif %}" data-postid="{{ id }}">
    <div class="liveblog-post--edit-button" style="display: none;"><button class="link" type="button">edit</button></div>
    {{ elements }}
</article>
