<article class="liveblog-post{% if highlight %} liveblog-post--highlight-{{ highlight }}{% endif %}" data-postid="{{ id }}">
    {% if edit_access %}
        <div class="liveblog-post--edit-button">EDIT</div>
    {% endif %}
    {{ elements }}
</article>
